body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 30px;
}

table {
  width: 100%;
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin-top: 30px;
}

thead, tbody {
  width: 100%;
  display: block;
}

thead tr {
  border-bottom: solid 1px #444;
  text-transform: uppercase;
  font-weight: bold;
}

tr {
  display: grid;
  padding: 16px;
  grid-template-columns: repeat(5, 1fr);
  color: #777;
  border-bottom: solid 1px #777;
}

tr:first-child {
  padding: 6px;
}
